body {
  background-color: #f1f1f1;
}

.flex-container {
  display:flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 2em;
}
.form-card{
  width:30rem;
}
.tag-filter-container{
  flex-grow:3;
}
.tag-filter{
  display:flex;
  flex-direction:column;
  list-style: none;
  padding: 6px;
}
.btn-filter-tag{
  border-radius: 9px;
}
.active-tag-filter{
  background-color:#d4d4d4;
}
.feed{
  flex-grow:9;
}