.info{
    display: flex;
    justify-content: space-between;
}
.info p{
    color:gray;
    margin-bottom: 0px;
}

.answer-count{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem 0px 1rem 0px;
    
    margin-bottom: 0.5rem;
}
.answer-list-container{
    padding-top:0px !important;
}
.answer-list{
    list-style: none;
    padding-left: 0px;
}
.answer{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-top:1rem;
    padding-bottom: 1rem;

}
.question-card{
    padding-bottom:2rem;
}